@import "../common/mixins";

#header {
  position: fixed;
  height: 360px;
  width: 100%;
  top: 0%;
  background-size: contain;
  overflow: hidden;
  z-index: 1000;
  @include transition(all 0.5s);
  background: -moz-linear-gradient(top, rgba(25,25,25,0.72) 0%, rgba(0,0,0,0.93) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(25,25,25,0.72) 0%,rgba(0,0,0,0.93) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(25,25,25,0.72) 0%,rgba(0,0,0,0.93) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8191919', endColorstr='#ed000000',GradientType=0 ); /* IE6-9 */
  #logo-image {
    position: absolute;
    top: 15%;
    left: 3%;
  }

  + #group-container {
    margin-top: 360px;
    @include transition-standard(margin-top 450ms)
  }

  &.sticky {
    height: 132px;
    + #group-container { margin-top: 240px; }
  }
}


#header-title {
  text-align: center;
  margin-top: 137px;
  @include transition(all 450ms);
  #uni-name { line-height: 2.1rem; color: #fff; @include transition(all 450ms); }
  #uni-description { color: #fff; opacity: 0.75;}
  &.sticky {
    max-height: 144px;
    margin-top: 0px;
    #uni-name { margin-top: 27px; margin-bottom: 18px;}
  }
}

#header-profile {
  position: absolute;
  top: 15%;
  right: 3%;
  @include transition(all 450ms);
}

#header-uni-logo {
  width: 90px !important;
  height: 90px !important;
  position: absolute !important;
  @include transition(all 0.5s);
  > div > div {
    opacity: 0;
  }
  &.sticky {
    width: 45px !important;
    height: 45px !important;
  }
}

#header-tab-row {
  > div > div { background-color: rgba(255,255,255,0) !important; }
}

.header-tab > div > div {
  flex-direction: row !important; font-size: 18px !important;
  > span { margin-bottom: 0 !important; margin-right: 5px; }
}
