@import "../common/mixins";

.grid-list {
  .grid-tile {
    cursor: pointer; @include transition-standard(all 150ms); background-size: cover; background-position: center center; min-height: 220px;
    &:hover { opacity: 0.9; }
  }
}

.grid-img {
  max-height: 250px;
  transform: translateY(0) !important;
}

.raised-btn > button {
  height: 42px !important;
  > div > div {
    height: 42px !important;
  }
}

.md-editor-paper {
  min-height: 300px;
  padding: 24px;
}

.medium-editor-toolbar-form-active {
  display: block;
}

.md-info {
  line-height: 2rem;
  @include media-sm-up { padding: 3%;}
  @include media-xs-only { padding: 6%;}
}

.pluginConnectTextDark a {
  color: #000000;
}

.info-title-container {
  overflow: hidden;
  text-align: center;
}

.info-container-col {
  margin-bottom: 21px;
}
