@import "../common/mixins";

.grid-list {
  .grid-tile {
    cursor: pointer; @include transition-standard(all 150ms); background-size: cover; background-position: center center; min-height: 220px;
    &:hover { opacity: 0.9; }
  }
}

.formBtn > button {
  height: 42px !important;
  > div > div {
    height: 42px !important;
  }
}

.md-editor-paper {
  min-height: 300px;
  padding: 24px;
}

.medium-editor-toolbar-form-active {
  display: block;
}

.md-info {
  @include media-sm-up {
    padding: 0 10% 10%;
  }
}

.pluginConnectTextDark a {
  color: #000000;
}
