@import "../common/mixins";

.grid-list {
  .grid-tile {
    cursor: pointer; @include transition-standard(all 150ms); background-size: cover; background-position: center center; min-height: 220px;
    &:hover { opacity: 0.9; }
  }
}

.grid-img {
  max-height: 250px;
  transform: translateY(0) !important;
}

.raised-btn > button {
  height: 42px !important;
  > div > div {
    height: 42px !important;
  }
}

.md-info {
  line-height: 2rem;
  @include media-sm-up { padding: 3%;}
  @include media-xs-only { padding: 6%;}
}

.pluginConnectTextDark a {
  color: #000000;
}

.info-container > .container {
  @include media-xs-only { padding: 0 }
}

.info-text-container {
  padding-bottom: 21px;
  margin-bottom: 21px;
  @include media-xs-only { margin: 0 }
}

.info-title-container {
  overflow: hidden;
  text-align: center;
  > div > div {
    > img { width: 100%; object-fit: cover; min-height: 300px; }
    > div { padding-top: 0 !important; }
  }
}

.info-container-col {
  margin-bottom: 21px;
}

.form-title-field {
  z-index: 2;
  padding: 15px 0;
  > input {
    font-size: 2rem !important;
    color: white !important;
    text-align: center;
  }
}
