.signup + p {
  margin-top: 20px;
}

#welcome-header {
  background-color: orange;
  #logo-image {
    position: absolute;
    top: 6%;
    left: 3%;
  }
}

#welcome-header-title {
  text-align: center;
  margin-top: 137px;
  #app-name { line-height: 2.1rem; color: #fff; font-size: 2.5rem; font-style: italic }
  #app-description { color: #fff; opacity: 0.75; font-size: 1.4rem }
}

#welcome-body {
  margin-top: 25px;
  margin-bottom: 25px;
  #welcome-body-message { text-align: center; color: #fff; font-size: 1rem }
}

#login-button {
  text-align: center  
}
